{% extends '@KitWeb/layout.html.twig' %}
{% block content %}
<div class="container">
	<div class="line">
		<div class="xl12 xs12 xm9 xb9">
			<div class="panel">
			    <div class="panel-head">
			        <h2>就会第三局横扫大家好</h2>
			    </div>
				<div class="panel-body">
					<p>大家好大家好是金黄色的，速度快的设计速度较快的数据库，速度较快开机速度 </p>
					<p>大家好大家好是金黄色的，速度快的设计速度较快的数据库，速度较快开机速度 </p>
					
					<p>大家好大家好是金黄色的，速度快的设计速度较快的数据库，速度较快开机速度 </p>
				</div>
				<div class="panel-foot">
				   <p>大家好大家好是金黄色的，速度快的设计速度较快的数据库，速度较快开机速度 </p>
				</div>
		    </div>
        </div>
        <div class="xl12 xs12 xm3 xb3">
            <div class="panel">
			    <div class="panel-head">
			        <h2>就会第三局横扫大家好</h2>
			    </div>
				<div class="panel-body">
					<p>大家好大家好是金黄色的，速度快的设计速度较快的数据库，速度较快开机速度 </p>
					<p>大家好大家好是金黄色的，速度快的设计速度较快的数据库，速度较快开机速度 </p>
					
					<p>大家好大家好是金黄色的，速度快的设计速度较快的数据库，速度较快开机速度 </p>
				</div>
				<div class="panel-foot">
				   <p>大家好大家好是金黄色的，速度快的设计速度较快的数据库，速度较快开机速度 </p>
				</div>
		    </div>
        </div>
    </div>
</div>
{% endblock %}