<div class="container">
	<div class="line">
		<div class="xl12 xs12 xm9 xb9">
			<!--list.start-->
			<div class="doc-right">
				<div class="panel">
					<div class="panel-body">
						<br />
						<h1 align="center">关于有偿提供拼图响应式后台的通知</h1>
						<p class="text-center text-small">
							2015-11-24 <a href="http://blog.pintuer.com/?author=2"
								title="拼图响应式前端框架第2作者，emlog插件作者. 1979788761@qq.com">大火兔</a> <a
								href="http://blog.pintuer.com/?sort=1">拼图动态</a>
						</p>
						<hr />
						<p>拼图响应式前端框架版响应式后台正式发布。</p>
						<p>考虑到目前拼图的状况，我们不打算免费开放下载，但也不会收各位朋友1分钱，该版后台将有偿提供给各位给予拼图贡献的朋友。</p>
						<p>废话不多说，一切皆以有图有真相，下面上图，欢迎各种果断围观，各种喷。</p>
						<p>1，首先我们先看下，功能机（ldpi 320x442）分辨率下的效果。</p>
						<p>
							<img title="" class="img-responsive" alt=""
								src="http://blog.pintuer.com/content/uploadfile/201511/d1261448415749.png"
								width="850" height="274" />
						</p>
						<p>
							<br />
						</p>
						<p>2，然后我们再通过拼图响应式测试工具直接查看不同设备下该款后台的样子。</p>
						<p>
							<a href="http://www.pintuer.com/tools/test.html" target="_blank">http://www.pintuer.com/tools/test.html</a>
						</p>
						<p>
							3，目前该款后台暂时只提供登录及初始页。详细访问地址：<a
								href="http://www.pintuer.com/demo/pintuer4/" target="_blank">http://www.pintuer.com/demo/pintuer4/</a>
						</p>
						<p>
							4，如果希望得到该款响应式后台的所有代码，可以通过以下途径获得。<br />
							a,将本文章分别复制转载到博客园、CSDN任意一种方式即可。<br />
							b,最好有自己使用拼图的感受，并在博文里向朋友推荐拼图响应式前端框架。<br /> c,做完以上步骤后，将文章地址，电子邮箱留在<a
								href="http://blog.pintuer.com/?post=7" target="_blank">http://blog.pintuer.com/?post=7</a>评论即可。<br />
							d,我们验证完成后会将该款响应式后台源码发送到电子邮箱里。
						</p>
						<p>
							<br />
						</p>
					</div>
					<span class="tag bg-main float-left margin-small">标签: <a
						href="http://blog.pintuer.com/?tag=pintuer">pintuer</a> <a
						href="http://blog.pintuer.com/?tag=%E5%90%8E%E5%8F%B0">后台</a></span>
					<span class="nextlog float-right margin-small text-main"> &laquo; <a
						href="http://blog.pintuer.com/?post=8">关于拼图浏览器插件上线的通知</a> | <a
						href="http://blog.pintuer.com/?post=6">关于暂停APP模块的更新通知</a>&raquo; 
			        </span>
			    </div>
			</div>
        </div>
    </div>
</div>