<div class="dialog">
	<div class="dialog-head">
		<span class="dialog-close close rotate-hover"></span><strong>{{ dialog.title }}</strong>
	</div>
	<div class="dialog-body">
		对话框内容
	</div>
	<div class="dialog-foot">
		<button class="dialog-close button">
			取消</button>
		<button class="button bg-green">
			确认</button>
	</div>
</div>