        <!--底部-->
		<br />
		<br />
		<div class="layout padding-big-top padding-big-bottom border-top bg">
			<div class="container padding">
				<div class="line">
					<div class="hidden-l xs9 table-responsive">
						<ul class="nav nav-sitemap">
							<li><a href="http://www.pintuer.com">起步</a>
								<ul>
									<li><a href="http://www.pintuer.com">下载前端框架</a></li>
									<li><a href="http://www.pintuer.com">框架包含的文件</a></li>
									<li><a href="http://www.pintuer.com">基本页面</a></li>
								</ul>
							</li>
							<li><a href="http://www.pintuer.com">CSS</a>
								<ul>
									<li><a href="http://www.pintuer.com">文本</a></li>
									<li><a href="http://www.pintuer.com">图片</a></li>
									<li><a href="http://www.pintuer.com">水平线</a></li>
								</ul>
							</li>
							<li><a href="http://www.pintuer.com">元件</a>
								<ul>
									<li><a href="http://www.pintuer.com">网格系统</a></li>
									<li><a href="http://www.pintuer.com">图标</a></li>
									<li><a href="http://www.pintuer.com">标签</a></li>
								</ul>
							</li>
							<li><a href="http://www.pintuer.com">JS组件</a>
								<ul>
									<li><a href="http://www.pintuer.com">窗口工具</a></li>
									<li><a href="http://www.pintuer.com">选项标签</a></li>
									<li><a href="http://www.pintuer.com">进度及区间值</a></li>
								</ul>
							</li>
							<li><a href="http://www.pintuer.com">模块</a>
								<ul>
									<li><a href="http://www.pintuer.com">框架</a></li>
									<li><a href="http://www.pintuer.com">头部</a></li>
									<li><a href="http://www.pintuer.com">导航条</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="xl12 xs3 padding-top">
						<div class="media media-x">
							<div class="float-left txt-border radius-circle border-main">
								<div class="txt radius-circle bg-main icon-phone text-large"></div>
							</div>
							<div class="media-body"><strong class="text-big text-main">400-1234-567</strong>7*24小时客服电话</div>
						</div>
						<div class="media media-x">
							<div class="float-left txt-border radius-circle border-main">
								<div class="txt radius-circle bg-main icon-weibo text-large"></div>
							</div>
							<div class="media-body"><strong class="text-big text-main">微博关注我们</strong><a class="button button-little bg-red shake-hover" href="http://www.weibo.com/pintuer">点击关注</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>