<!--banner-->
<div class="banner" data-style="border-white">
	<div class="carousel">
		<div class="item"><img src="images/banner1.jpg" width="100%" /></div>
		<div class="item"><img src="images/banner2.jpg" width="100%" /></div>
		<div class="item"><img src="images/banner3.jpg" width="100%" /></div>
	</div>
</div>
<br />