<!--顶部-->
<div class="layout bg-black bg-inverse">
	<div class="container height-large">
		<span class="float-right text-small text-gray hidden-l">
        <a class="text-main" href="http://www.pintuer.com">注册</a><span> | </span><a class="text-main" href="http://www.pintuer.com">登录</a><span> | </span><a class="text-main" href="http://www.pintuer.com">积分兑换</a><span> | </span><a class="text-main"
		href="http://www.pintuer.com">帮助中心</a>
		</span>
		欢迎使用拼图<a href="http://www.pintuer.com">CSS框架</a>
	</div>
</div>