        <!--导航-->
		<div class="demo-nav padding-big-top padding-big-bottom fixed">
			<div class="container padding-top padding-bottom">

				<div class="line">
					<div class="xl12 xs3 xm3 xb2">
						<button class="button icon-navicon float-right" data-target="#header-demo"></button>
						<a target="_blank" href="http://www.pintuer.com"><img src="images/logo.png" alt="前端CCS框架" /></a>
					</div>
					<div class=" xl12 xs9 xm9 xb10 nav-navicon" id="header-demo">

						<div class="xs8 xm6 xb5 padding-small">
							<ul class="nav nav-menu nav-inline nav-big">
								<li><a href="http://www.pintuer.com">首页</a></li>
								<li><a href="http://www.pintuer.com">CSS</a></li>
								<li class="active">
									<a href="http://www.pintuer.com">元件<span class="arrow"></span></a>
									<ul class="drop-menu">
										<li><a href="http://www.pintuer.com">概述</a></li>
										<li>
											<a href="http://www.pintuer.com">网格系统<span class="arrow"></span></a>
											<ul>
												<li><a href="http://www.pintuer.com">响应式布局</a></li>
												<li><a href="http://www.pintuer.com">非响应式布局</a></li>
											</ul>
										</li>
										<li><a href="http://www.pintuer.com">图标</a></li>
									</ul>
								</li>
								<li>
									<a href="http://www.pintuer.com">更多<span class="arrow"></span></a>
									<ul class="drop-menu">
										<li><a href="http://www.pintuer.com">组件</a></li>
										<li>
											<a href="http://www.pintuer.com">模块<span class="arrow"></span></a>
											<ul>
												<li><a href="http://www.pintuer.com">头部</a></li>
												<li><a href="http://www.pintuer.com">导航</a></li>
												<li><a href="http://www.pintuer.com">底部</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="xs4 xm3 xb4">
							<form>
								<div class="input-group padding-little-top">
									<input type="text" class="input border-main" name="keywords" size="30" placeholder="关键词" />
									<span class="addbtn"><button type="button" class="button bg-main icon-search"></button></span>
								</div>
							</form>
						</div>
						<div class="hidden-l hidden-s xm3 xb3">
							<div class="text-red text-big icon-phone height-large text-right"> 热线 400 1234567</div>
						</div>

					</div>

				</div>

			</div>

		</div>